.input-field {
    -fx-text-box-border: #169BE1 ;
    -fx-background-radius: 23px;
    -fx-border-width: 2px;
    -fx-padding: 10;
    -fx-spacing: 8;
}

.submit-btn {
    -fx-background-radius: 23px;
    -fx-text-box-border: black ;
    -fx-border-width: 50px;
    /* -fx-background-color: #3A9DCF; */
    -fx-background-color: linear-gradient(to right, #3A9DCF, #1F5570);

}

.submit-btn:pressed {
    -fx-background-color: #1F5570;
    -fx-background-radius: 22;
}

.prelogin-btn {
    -fx-background-radius: 23px;
    -fx-text-box-border: black ;
    -fx-border-width: 50px;
    -fx-background-color: #1D4F68;
}

.jfx-hamburger StackPane {
    -fx-background-color: white;
}

.drawer-btn{
    -fx-background-color: none;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-alignment: center;
    -fx-font-size: 14px;
}

.logout-btn{
    -fx-background-color: none;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-alignment: center;
    -fx-font-size: 16px;
}
.sign-up-link{
    -fx-background-color: none;
    -fx-font-size: 14px!important;
    -fx-text-alignment: center!important;
}

.label-text {
    -fx-font-size: 22px !important;
    -fx-text-alignment: center;

}

.username-label{
    -fx-font-style: italic;
    -fx-font-size: 22px;
    -fx-text-alignment: center;
}
