.input-field {
    -fx-text-box-border: #169BE1 ;
    -fx-background-radius: 23px;
    -fx-border-width: 2px;
    -fx-padding: 10;
    -fx-spacing: 8;
}

.submit-btn {
    -fx-background-radius: 23px;
    -fx-text-box-border: black ;
    -fx-border-width: 50px;
    /* -fx-background-color: #3A9DCF; */
    -fx-background-color: linear-gradient(to right, #3A9DCF, #1F5570);

}

.submit-btn:pressed {
    -fx-background-color: #1F5570;
    -fx-background-radius: 22;
}
